body{
  background:#272822;
}
@keyframes spin{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

#taiji{
  margin-left:auto;
  margin-right: auto;
  margin-top: 130px;
  width:0;
  height:500px;
  border-left:250px solid #eee;
  border-right:250px solid #000;
  border-radius:100%;
  box-shadow:0px 0px 50px #eee;
  position:relative;
  animation-name:spin;
  animation-duration:3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}
#taiji:hover{
  animation-play-state: running;
}

#taiji::after{
  content:"";
  position:absolute;  
  top:250px;
  left:-125px;
  width:70px;  
  height:70px;  
  border:90px solid #000;
  border-radius:100%;  
  background:#eee;  
}
#taiji::before{
  content:"";
  position:absolute;
  width:70px;
  height:70px;
  border:90px solid #eee;
  background:#000;
  border-radius:100%;
  left:-125px;
}
